html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8099BE;
    overflow: hidden;
    text-align: center;
    font-family: 'Avenir','sans-serif';
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
a {
    font-family: 'Avenir','sans-serif';
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
a:hover {
    cursor: none;
}
#content {
    display: flex;
    flex-direction: column;
}
#logo {
    position: relative;
    bottom: 1em;
}
#description-greeting {
    margin-top: 4rem;
    text-align: left;
}
#description {
    width: 20em;
    text-align: left;
}
#description-b {
    text-align: left;
    margin-top: 1em;
}
#links-container {
    display: flex;
    width: 11em;
    justify-content: space-between;
    margin-top: 3rem;
}
a:hover > svg > path {
    fill:black;
}
#mail-link {
    text-decoration: none;
    text-align: left;
    margin-top: 2em;
}
#mail-link:hover {
    color: black;
    cursor: none;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    html, body {
        cursor: default;
    }
    #mail-link:hover {
        cursor: pointer;
    }
    a:hover {
        cursor: pointer;
    }
    #logo > svg {
        width: 15rem !important;
    }
    #logo {
        text-align: left;
        bottom: 0;
        top: 3em;
    }
}
